.martian-mono {
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.major-mono {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.m-plus-code-latin {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.libre-barcode {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}
