@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "mononoki"; 
  src: url("mononoki-regular.ttf") format("truetype");
  font-weight: normal; 
  font-style: normal; 
}

.mononoki {
    font-family: 'mononoki', sans-serif;
}

.m-plus-code-latin {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.libre-barcode {
  font-family: "Libre Barcode 128 Text", system-ui;
  font-weight: 400;
  font-style: normal;
}
